# DB config
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=mydb
DB_PORT=5432
POSTGRES_HOST=host.docker.internal

# Frontend config
VITE_API_URL=/api
VITE_PORT=80

# Backend config
NODE_ENV=production
PORT=3001
FRONTEND_ORIGIN=http://client:80

# AWS
AWS_ACCESS_KEY_ID=SAKHJFKBASSDAF
AWS_REGION=us-east-2
AWS_SECRET_ACCESS_KEY=Akjsdabakbkdlsb
AWS_BUCKET_NAME="example-photo-system"

# Secrets
DB_USERNAME=postgres
DB_PASSWORD=mysecretpassword
ACCESS_TOKEN_SECRET=ASJKHFBA!IASKDJFBAS
REFRESH_TOKEN_SECRET=ASJKHFB@21234314!asdsdaffasIASKDJFBAS
RESET_PASSWORD_TOKEN_SECRET=shdafbAGFSJK%&^$&^%R@jkgsfdvk

# Email
EMAIL_USER=emaildomain
EMAIL_PASS=emailpass